# Loading/Manipulating excel data with Pandas

In [23]:
import pandas as pd
import numpy as np

data_loc = '../data/sampling_details.xlsx'

# load the sentinel fields sheet
sentinel_fields_data = pd.read_excel(data_loc,sheetname='Kal-sentinels-raw')
# rename the headings with spaces in them
sentinel_fields_data.rename(columns={"Field descrip":"descrip","date emerged":"date", 
                                     "Field ID (jpgs)": "id",
                                     "Field ID (paper)":"paperid"}, inplace=True)
sentinel_fields_data.drop('descrip',1,inplace=True)
sentinel_fields_data.drop('paperid',1,inplace=True)
sentinel_fields_data.sort_values(['id','date'], inplace=True)
sentinel_fields_data

,id,date,Efemales,Emales,morpho1,morpho2,morpho3,morpho4,morpho5,morpho6,Wfnum
10,B,2005-04-03,0,0,2,0,0,0,0,0,4
11,B,2005-04-05,1,0,2,5,0,0,0,0,41
12,B,2005-04-07,4,2,1,0,0,0,0,0,21
13,B,2005-04-09,0,0,0,0,0,0,1,0,53
14,B,2005-04-11,1,0,0,0,0,0,0,0,11
15,B,2005-04-13,2,1,0,0,0,0,1,0,0
16,B,2005-04-16,0,0,0,0,0,0,0,0,0
17,B,2005-04-18,0,0,0,0,0,0,0,0,0
18,B,2005-04-20,0,0,0,0,0,0,0,0,0
19,B,2005-04-22,0,0,0,0,0,0,0,0,0
20,C,2005-04-03,1,0,5,0,2,1,0,0,6
21,C,2005-04-05,0,2,0,0,0,1,0,0,36
22,C,2005-04-07,1,0,2,0,0,0,0,0,11
23,C,2005-04-09,1,0,0,0,0,0,0,0,24
24,C,2005-04-11,0,0,0,0,0,0,0,0,0
25,C,2005-04-13,0,2,1,0,0,0,0,0,0
26,C,2005-04-16,0,0,0,0,0,0,0,0,0
27,C,2005-04-18,2,0,0,0,1,0,0,0,0
28,C,2005-04-20,0,0,0,0,0,0,0,0,0
29,C,2005-04-22,0,0,0,0,0,0,0,0,0
30,D,2005-04-03,1,0,0,0,0,0,0,0,60
31,D,2005-04-05,1,0,0,0,0,0,0,0,80
32,D,2005-04-07,3,0,0,0,0,0,0,0,44
33,D,2005-04-09,0,0,0,0,0,0,0,0,12
34,D,2005-04-11,5,3,0,0,0,0,1,0,8
35,D,2005-04-13,0,2,0,0,0,0,3,0,1
36,D,2005-04-16,0,0,0,0,0,0,0,0,0
37,D,2005-04-18,2,2,0,0,0,0,0,0,0
38,D,2005-04-20,3,1,0,0,0,0,0,0,8
39,D,2005-04-22,0,0,0,0,0,0,0,0,0
0,E,2005-04-03,0,0,1,0,0,0,0,0,39
1,E,2005-04-05,0,0,0,0,0,0,0,0,155
2,E,2005-04-07,1,0,0,1,0,0,0,0,69
3,E,2005-04-09,0,1,0,1,0,0,0,0,60
4,E,2005-04-11,0,0,0,0,0,0,0,0,0
5,E,2005-04-13,1,0,0,0,0,0,1,0,0
6,E,2005-04-16,2,2,0,0,0,0,0,0,0
7,E,2005-04-18,2,5,0,0,0,0,0,0,0
8,E,2005-04-20,0,0,0,0,0,0,0,0,0
9,E,2005-04-22,0,0,0,0,0,0,0,0,0
40,F,2005-04-03,0,0,0,0,0,0,0,0,0
41,F,2005-04-05,0,0,0,0,0,0,0,0,227
42,F,2005-04-07,0,0,0,0,0,0,0,0,75
43,F,2005-04-09,0,0,0,0,0,0,0,0,44
44,F,2005-04-11,0,0,0,0,0,0,0,0,2
45,F,2005-04-13,1,0,0,0,0,0,0,0,5
46,F,2005-04-16,0,0,0,0,0,0,0,0,0
47,F,2005-04-18,0,0,0,0,0,0,0,0,0
48,F,2005-04-20,0,0,0,0,0,0,2,0,0
49,F,2005-04-22,0,0,0,0,0,0,0,0,0
50,G,2005-04-03,0,0,0,0,0,0,0,0,400
51,G,2005-04-05,0,0,0,0,0,0,0,0,240
52,G,2005-04-07,0,0,0,0,0,0,0,0,61
53,G,2005-04-09,0,0,0,0,0,0,0,0,0
54,G,2005-04-11,3,0,0,3,0,1,0,0,0
55,G,2005-04-13,4,4,0,0,0,0,17,0,2
56,G,2005-04-16,0,0,0,0,0,0,0,0,0
57,G,2005-04-18,0,0,0,0,0,0,0,0,0
58,G,2005-04-20,0,0,0,0,0,0,0,0,0
59,G,2005-04-22,0,0,0,0,0,0,0,0,0