# Loading/Manipulating excel data with Pandas

In [13]:
import pandas as pd
import numpy as np

data_loc = '../data/sampling_details.xlsx'

release_date = pd.Timestamp('2005-03-15')

# load the sentinel fields sheet
sentinel_fields_data = pd.read_excel(data_loc,sheetname='Kal-sentinels-raw')
# rename the headings with spaces in them
sentinel_fields_data.rename(columns={"Field descrip":"descrip","date emerged":"date", 
                                     "Field ID (jpgs)": "id",
                                     "Field ID (paper)":"paperid"}, inplace=True)
sentinel_fields_data.drop('descrip',1,inplace=True)
sentinel_fields_data.drop('paperid',1,inplace=True)
sentinel_fields_data.sort_values(['id','date'], inplace=True)
# get sum of all the emergences
col_list = list(sentinel_fields_data)
for name in ['id','date']:
    col_list.remove(name)
sentinel_fields_data['All_total'] = sentinel_fields_data[col_list].sum(axis=1)
# get the number of E Hayati emergences per day
sentinel_fields_data['E_total'] = sentinel_fields_data[['Efemales','Emales']].sum(axis=1)
sentinel_fields_data['datePR'] = sentinel_fields_data['date'] - release_date
print(sentinel_fields_data['datePR'].min().days)
day29 = pd.Timedelta('29 days')
sentinel_fields_data[sentinel_fields_data['datePR']==day29]['E_total'].values
#PR19 = sentinel_fields_data['datePR'] == day29
#sentinel_fields_data[PR29]

19

array([3, 2, 2, 1, 1, 8], dtype=int64)

In [25]:
release_field_data = pd.read_excel(data_loc,sheetname='Kal-releasefield-raw')
# in our data, North was on the left of the grid. So switch coordinates
release_field_data['temp'] = release_field_data['xcoord']
release_field_data['xcoord'] = release_field_data['ycoord']
release_field_data['ycoord'] = -release_field_data['temp'] # need to flip orientation
release_field_data.drop('temp',1,inplace=True)
# put release point at the origin
release_field_data['ycoord'] += 300
release_field_data['xcoord'] -= 200
col_list = list(release_field_data)
for name in ['Field','xcoord','ycoord','date emerged']:
    col_list.remove(name)
release_field_data['All_total'] = release_field_data[col_list].sum(axis=1)
release_field_data['E_total'] = release_field_data[['Efemales','Emales']].sum(axis=1)
release_field_data['datePR'] = release_field_data['date emerged'] - release_date
release_field_data.drop('Field',1,inplace=True)
#release_field_data['ycoord'].values
release_field_data.sort_values(['datePR','xcoord','ycoord'],inplace=True)
print(release_field_data['datePR'].map(lambda t: t.days).unique())
release_field_data

[19 21 23 25 27 29 32 34 36 38]

,xcoord,ycoord,date emerged,Efemales,Emales,morpho1,morpho2,morpho3,morpho4,morpho5,morpho6,Wfnum,All_total,E_total,datePR
19,-200,-100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
15,-200,0,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
10,-200,100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
5,-200,200,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
0,-200,300,2005-04-03,0,0,1,0,0,0,0,0,26,27,0,19 days
20,-100,-100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
16,-100,0,2005-04-03,0,0,0,0,5,0,0,0,5,10,0,19 days
11,-100,100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
6,-100,200,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
1,-100,300,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
21,0,-100,2005-04-03,0,0,0,0,0,0,0,0,1,1,0,19 days
17,0,0,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
12,0,100,2005-04-03,0,1,0,0,1,0,0,0,2,4,1,19 days
7,0,200,2005-04-03,0,0,0,0,0,0,0,0,2,2,0,19 days
2,0,300,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
22,100,-100,2005-04-03,0,0,0,0,0,0,0,0,3,3,0,19 days
18,100,0,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
13,100,100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
8,100,200,2005-04-03,0,0,0,0,0,0,0,0,7,7,0,19 days
3,100,300,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
14,200,100,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
9,200,200,2005-04-03,0,0,0,0,0,0,0,0,0,0,0,19 days
4,200,300,2005-04-03,0,0,1,0,0,0,0,0,0,1,0,19 days
42,-200,-100,2005-04-05,0,0,0,0,0,0,0,0,0,0,0,21 days
38,-200,0,2005-04-05,1,1,0,1,0,0,0,0,2,5,2,21 days
33,-200,100,2005-04-05,0,3,0,0,0,0,0,0,4,7,3,21 days
28,-200,200,2005-04-05,2,0,0,2,0,0,0,0,1,5,2,21 days
23,-200,300,2005-04-05,7,0,1,0,1,0,0,0,31,40,7,21 days
43,-100,-100,2005-04-05,0,0,0,0,0,0,0,0,0,0,0,21 days
39,-100,0,2005-04-05,2,0,0,0,0,0,0,0,21,23,2,21 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,100,0,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
197,100,100,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
192,100,200,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
187,100,300,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
198,200,100,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
193,200,200,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
188,200,300,2005-04-20,0,0,0,0,0,0,0,0,0,0,0,36 days
226,-200,-100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
222,-200,0,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
217,-200,100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
212,-200,200,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
207,-200,300,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
227,-100,-100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
223,-100,0,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
218,-100,100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
213,-100,200,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
208,-100,300,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
228,0,-100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
224,0,0,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
219,0,100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
214,0,200,2005-04-22,3,2,0,0,0,0,0,0,0,5,5,38 days
209,0,300,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
229,100,-100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
225,100,0,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
220,100,100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
215,100,200,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
210,100,300,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
221,200,100,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
216,200,200,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days
211,200,300,2005-04-22,0,0,0,0,0,0,0,0,0,0,0,38 days